{% extends "base.html" %}
{% from "components/card.html" import card %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <h1>Projects</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                {{card('static/best_books.png', 
                       'Best Books', 
                       'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%201/Best%20Books%20Ever%20Challenge', 
                       'An in-depth analysis of the top 5000 books of all time.')}}
            </div>
            <div class="col">
                {{card('static/trackit_fitness.png', 
                       'Trackit Fitness', 
                       'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%202/Trackit%20Fitness%20App', 
                       "Trackit is an android app that allows the users to keep track of their daily movements, estimating calories burned. It then recommends suitable activities for the following day.")}}
            </div>
            <div class="col">
                {{card('static/yoga_silhouette.jpg', 
                       'Fitness Pygame', 
                       'https://github.com/dany1459/AI-Engineering/tree/main/Chapter%203/17.%20Fitness%20Pygame', 
                       'Improve your general well-being while having a little fun.')}}
            </div>
        </div>
    </div>
{% endblock %}
